.navbar {
  text-align: center;
  width: 100%;
  background-color: black !important;
}



.navbrand {
  display: flex;
  justify-content: center;
  width: 100%;

}

.navbrand  > a{
  font-size: 1.5vw;

}

