.navbar {
  text-align: center;
  width: 100%;
  background-color: black !important;
}



.navbrand {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 49px;
  left: 0;

}

.navbrand  > a{
  font-size: 1.75em;

}

